In [ ]:
import sqlite3
db = sqlite3.connect('Employee.sqlite')

In [ ]:
cur = db.cursor()

In [ ]:
cur.execute('create table EmployeeDetail (employeeid int Primary Key, name Text, age int, department Text, salary int);')

In [ ]:
cur.execute('insert into EmployeeDetail values (100, "Rishav", 21, "Marketing", 50000 );')
cur.execute('insert into EmployeeDetail values (101, "Abhishek", 23, "Operations", 60000 );')
cur.execute('insert into EmployeeDetail  values (102, "Aman", 25, "Human Resources", 75000 );')

In [ ]:
db.commit()

In [ ]:
Cursor = cur.execute('select * from EmployeeDetail;')
for row in Cursor :
    print(row)

(100, 'Rishav', 21, 'Marketing', 50000)
(101, 'Abhishek', 23, 'Operations', 60000)
(102, 'Aman', 25, 'Human Resources', 75000)

In [ ]:
employeeid = 103; name = "shreya"; age = 23; department = "Business"; salary = 45000 
cur.execute('insert into EmployeeDetail values (?,?,?,?,?)', (employeeid, name, age, department, salary))
db.commit()

In [ ]:
Cursor = cur.execute('select * from EmployeeDetail;')
for row in Cursor :
    print(row)

(100, 'Rishav', 21, 'Marketing', 50000)
(101, 'Abhishek', 23, 'Operations', 60000)
(102, 'Aman', 25, 'Human Resources', 75000)
(103, 'shreya', 23, 'Business', 45000)

In [ ]:
values = [(108,"shiv",21,"Marketing",50000),(105,"ranjan", 25, "research", 80000), (107, "prash", 26, "management", 100000)]
cur.executemany('insert into EmployeeDetail values (?,?,?,?,?)', values)
db.commit()

In [ ]:
Cursor = cur.execute('select * from EmployeeDetail;')
for row in Cursor :
    print(row)

(100, 'Rishav', 21, 'Marketing', 50000)
(101, 'Abhishek', 23, 'Operations', 60000)
(102, 'Aman', 25, 'Human Resources', 75000)
(103, 'shreya', 23, 'Business', 45000)
(108, 'shiv', 21, 'Marketing', 50000)
(105, 'ranjan', 25, 'research', 80000)
(107, 'prash', 26, 'management', 100000)

In [ ]:
cur.execute("update EmployeeDetail set name = 'sumeet' where employeeid = 105 ")
db.commit()

In [ ]:
Cursor = cur.execute('select * from EmployeeDetail;')
for row in Cursor :
    print(row)

(100, 'Rishav', 21, 'Marketing', 50000)
(101, 'Abhishek', 23, 'Operations', 60000)
(102, 'Aman', 25, 'Human Resources', 75000)
(103, 'shreya', 23, 'Business', 45000)
(108, 'shiv', 21, 'Marketing', 50000)
(105, 'sumeet', 25, 'research', 80000)
(107, 'prash', 26, 'management', 100000)

In [ ]:
employee_id=[101,102,103,104,105,106,107,108,109,110,111,112]
name=['Aadarsh','Aarti','Siddharth','Aman','Amit','Shivansh','Vaibhav','Himanshu','Raman','Kunal','Adhira','Tanya']
age=[25,27,25,24,30,26,23,26,25,26,29,24]
department=['Marketing','Operations','Finance','Human Resource','Marketing','IT','Finance','IT','Operations','Marketing','Human Resource','Marketing']
salary=[50000,60000,85000,75000,50000,90000,85000,90000,60000,50000,75000,50000]

cur.execute('insert into EmployeeDetail values (?,?,?,?,?)', (employee_id, name, age, department, salary))

InterfaceError: ignored